body
{
    font-family: 'Open Sans', sans-serif, Helvetica,Arial;
    text-align: center;
}
h1
{
    color: #3c3c3c;
    font-size:1.7em;
    margin: 0px 0px 0px 0px
    /*margin: 30px 0 30px 0;*/
}
h2
{
     color: #D3D3D3;
     /*margin: 0 0 30px 0;*/
}

h5
{
    margin: 0px 0px 0px 0px
    /*margin: 30px 0 30px 0;*/
}

.grid-container {
  display: grid;
  grid-row-gap: 1vh;
  grid-column-gap: 5px;
  grid-template-columns: 50% 50%;
  background-color: #2196F3;
  grid-template-rows: 7vh 24vh 62vh 2vh;
  grid-template-areas:
  "tt tt"
  "ul ur"
  "mm mm"
  "ff ff";
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
/*  padding: auto auto;*/
}

#title {
  grid-area: tt;
}

#upperleft {
  grid-area: ul;
}

#upperright {
  grid-area: ur;
}

#midde {
  grid-area: mm;
}

#middle > div{
/*  align-items: center;
 *   vertical-align: middle;*/
}

#footer {
  grid-area: ff;
}
#left {
     width:100%;
     float:left;
     /*border: 2px solid red;*/
}
#right {
     width:100%;
     float:left;
     /*border: 2px solid green;*/
}

.panel {
    text-align: left;
    padding: 0 10px 0 10px;
}

.panel img 
{
    max-width:100%;
    height:auto;
}

#viewer_display {
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid yellow;*/
    max-width:100%;
    max-height:100%;
}

#footer {  
/*    border: 2px solid yellow;*/
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
.form-radio:disabled {
     background-color: #f1f1f1;
}
.form-radio:disabled label {
      color:#ffa500;    
}
.tag_label {
    font-size:16px;
    font-weight: bold;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #3c3c3c;
     cursor: pointer;
} 

.form-text
{
     width: 60px;
     /*background-color: #f1f1f1;*/
     /*color: #666;*/
     /*top: 10px;*/
     height: 25px;
}

.commit_input {
  border-box: box-sizing;
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  font-size: 13px;
  padding: 5px 0px 5px 10px;
  margin: 5px 0px 0px 0px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.commit_input:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 165px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  display: block;
}

.dropdown p:hover {background-color: #ddd;}

.show {display: block;}

